
:root {--primary-color: #fed001}



body { font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }


html { font:400 62.5% 'trebuchet ms','sans-serif'}

p, a { font: 1.6rem;}

h1 {font-size: 4.8rem;
   }

nav a { color: inherit;}

.btn { background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem;
            4.8rem}
.upper { text-transform: uppercase;}


.wrapperContainer-dark { 
    background-color: #2a2a2a;
    color: white;

}

.wrapperContainer-light { 
    background-color: #fafafa;
}

.wrappercontainer-dark2 {
    background-color: #003464

}


.container { 
    max-width:  127.6rem;
    margin: auto;
}


.header { display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--primary-color);
        padding: .75em 1.15em;
       
        
  }


  .header__nav a { padding: 8px 13px ;
                border: 1px solid; 
                text-decoration: none;
                 }

.header__nav ul { display: flex;
gap: 1rem;
list-style-type: none;
}

.header__nav a:hover {background-color: rgb(185, 185, 0);
                       border: 1px solid rgb(255, 255, 255);
                        color: black; }


.wrapperContainer-hero { background-color: yellow; }

.herobanner { display: flex;
            justify-content: space-between;
        align-items: center;
        gap: 20rem
        }
